.container {
  width: 100%;
  min-height: 90dvh;
  background-color: var(--color-primary, #62d2f2);
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
  align-items: center;
}

.list {
  list-style: none;
  width: 70%;
  position: relative;
  z-index: 1;
  padding: 0;
}

.listItem {
  position: relative;
}

.listItem:not(:last-child)::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(
    to right,
    var(--color-secondary, #f5f642),
    var(--color-accent, #ff973c)
  );
}

@media (max-width: 768px) {
  .container {
    min-height: 75dvh;
  }
  .list {
    width: 80%;
  }
}
