@import url('../../../styles/media.css');

.links {
  display: grid;
  grid-template-columns: repeat(4, 160px);
  grid-auto-rows: 160px;
  gap: 48px;
  justify-content: center;

  @media (--mobile) {
    grid-template-columns: repeat(2, min(160px, 42vw));
    grid-auto-rows: min(160px, 42vw);
    gap: 32px;
  }
}

.icon {
  flex: 0 0 auto;
  width: 96px;
  height: 96px;
  color: var(--color-primary);

  @media (--mobile) {
    width: 42%;
    height: 42%;
  }
}
