@import url('../../../styles/media.css');

.links {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 160px));
  gap: 48px;
  justify-content: center;
  padding-inline: 24px;

  @media (--mobile) {
    grid-template-columns: repeat(2, minmax(0, 160px));
    gap: 32px;
  }
}

.link {
  aspect-ratio: 1;
}

.icon {
  flex: 0 0 auto;
  width: 96px;
  height: 96px;
  color: var(--color-primary);

  @media (--mobile) {
    width: 42%;
    height: 42%;
  }
}
