@import url('../../../../styles/media.css');

.link {
  display: flex;
  gap: 6svw;
  align-items: center;
  justify-content: center;
  padding: max(3rem, 4svw) 0;
  font-size: max(1.5rem, 4svw);
  color: var(--color-foreground);
  text-decoration: none;

  @media (--mobile) {
    gap: 1rem;
  }
}

.iconWrapper {
  display: flex;
  align-items: center;
}

.chevron {
  display: block;
  width: max(0.75rem, 2.4svw);
  height: max(0.75rem, 2.4svw);
  border-top: max(3px, 0.6svw) solid var(--color-accent);
  border-right: max(3px, 0.6svw) solid var(--color-accent);
  rotate: 45deg;
  transition: scale 0.3s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.chevron:not(:first-child) {
  margin-left: min(-0.25rem, -0.4svw);
}

.link:is(:hover, :focus-visible) .chevron:nth-child(1) {
  scale: 1.25;
  transition-delay: 0s;
}

.link:is(:hover, :focus-visible) .chevron:nth-child(2) {
  scale: 1.25;
  transition-delay: 0.06s;
}

.link:is(:hover, :focus-visible) .chevron:nth-child(3) {
  scale: 1.25;
  transition-delay: 0.12s;
}
