.striped {
  background: repeating-linear-gradient(
    45deg,
    color-mix(in oklab, var(--color-secondary), var(--color-surface) 57%) 0%,
    color-mix(in oklab, var(--color-secondary), var(--color-surface) 57%) 10.5%,
    var(--color-secondary) 10.5%,
    var(--color-secondary) 21%
  );
}

.dark {
  background-color: var(--color-secondary);
  filter: brightness(0.93) saturate(0.81);
}

.translucent {
  background-color: var(--color-secondary);
  opacity: 0.78;
}
