.striped {
  background: repeating-linear-gradient(
    45deg,
    rgb(255 255 188) 0%,
    rgb(255 255 188) 10.5%,
    var(--color-secondary) 10.5%,
    var(--color-secondary) 21%
  );
}

.dark {
  background-color: rgb(226 227 91);
}

.translucent {
  background-color: rgb(254 255 82);
  opacity: 0.78;
}
