.wrapper {
  position: relative;
  width: 100%;
}

.image {
  width: 100%;
}

.commonTape {
  width: 37.5%;
  height: 16%;
}

.topLeftTape,
.bottomRightBackTape,
.bottomRightFrontTape {
  position: absolute;
  z-index: 1;
  pointer-events: none;
}

.topLeftTape {
  top: -5%;
  left: -15%;
  width: 34.5%;
  transform: rotate(-38deg);
}

.bottomRightBackTape,
.bottomRightFrontTape {
  right: -13%;
}

.bottomRightBackTape {
  bottom: -1%;
  transform: rotate(-28deg);
}

.bottomRightFrontTape {
  bottom: 3%;
  z-index: 2;
  transform: translateX(2%) rotate(-47deg);
}
