@import url('../../../styles/media.css');

.themeSection {
  padding: clamp(1.5rem, 5svw, 4rem);
}

.inner {
  width: min(100%, 50rem);
  margin-inline: auto;
}

.heading {
  margin: 0 0 2.25rem;
  font-size: 4rem;
  font-style: italic;
  font-weight: 700;
  line-height: 1;
}

.body {
  --shadow-offset: 0.625rem;

  width: min(100% - var(--shadow-offset), 40rem);
  margin-inline: auto;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  align-items: center;
  padding: 1.75rem 1rem 2.25rem;
  background-color: var(--color-background);
  border: 0.125rem solid var(--color-border);
  box-shadow: var(--shadow-offset) var(--shadow-offset) 0 var(--color-primary);
}

.name {
  margin: 0;
  font-size: var(--font-size-2xl);
  font-style: italic;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  text-indent: 0.15em;
  letter-spacing: 0.15em;

  @media (--mobile) {
    text-align: left;
    text-indent: 0;
  }
}

.line {
  @media (--mobile) {
    display: block;
  }
}

.logo {
  width: 15.875rem;
}

.tagline {
  --chevron-size: 1.75rem;

  display: grid;
  grid-template-columns:
    repeat(auto-fit, minmax(6.5em, max-content))
    calc(var(--chevron-size) * 8 / 3 + 1.25rem);
  align-items: center;
  justify-content: center;
  padding-inline: 1.25rem;
  margin: 2rem 0 0;
  font-size: var(--font-size-xl);
  line-height: 1.4;
  letter-spacing: 0.05em;

  @media (--mobile) {
    --chevron-size: 1.25rem;
  }
}

.segment {
  white-space: nowrap;

  &:first-child {
    justify-self: end;
  }
}

.kana {
  font-size: 0.84em;
}

.chevrons {
  display: flex;
  grid-row: 1 / span 2;
  grid-column: -2;
  justify-self: end;
}

.chevron {
  width: var(--chevron-size);
  height: var(--chevron-size);
  border-top: calc(var(--chevron-size) / 4) solid var(--color-accent);
  border-right: calc(var(--chevron-size) / 4) solid var(--color-accent);
  rotate: 45deg;

  &:not(:first-child) {
    margin-left: calc(var(--chevron-size) / -6);
  }
}
