.themeSection {
  padding: 4rem;

  @media (width < 1024px) {
    padding: 3rem;
  }

  @media (width < 768px) {
    padding: 1.5rem;
  }
}

.inner {
  width: min(100%, 50rem);
  margin-inline: auto;
}

.heading {
  margin: 0 0 2.25rem;
  font-size: 4rem; /* 64px */
  font-style: italic;
  font-weight: 700;
  line-height: 1;
}

.body {
  --shadow-offset: 0.625rem;

  margin-inline: 9.375rem var(--shadow-offset);

  @media (width < 768px) {
    margin-left: 0;
  }
}

.card {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  align-items: center;
  padding: 1.75rem 1rem 2.25rem;
  background-color: var(--color-background);
  border: 0.125rem solid var(--color-border);
  box-shadow: var(--shadow-offset) var(--shadow-offset) 0 var(--color-primary);
}

.name {
  margin: 0;
  font-size: 3rem; /* 48px */
  font-style: italic;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  text-indent: 0.15em;
  letter-spacing: 0.15em;

  @media (width < 768px) {
    font-size: 2rem; /* 32px */
    text-align: left;
    text-indent: 0;
  }
}

.line {
  @media (width < 768px) {
    display: block;
  }
}

.logo {
  width: 15.875rem;
}

.footer {
  display: flex;
  gap: 1.25rem;
  align-items: center;
  justify-content: center;
  padding-inline: 1.25rem;
  margin-top: 2rem;
}

.tagline {
  margin: 0;
  font-size: 2.375rem; /* 38px */
  line-height: 1.4;
  letter-spacing: 0.05em;

  @media (width < 768px) {
    font-size: 1.375rem; /* 22px */
  }
}

.segment {
  display: inline-block;
}

.kana {
  font-size: 2rem; /* 32px */

  @media (width < 768px) {
    font-size: 1.125rem; /* 18px */
  }
}

.chevrons {
  --chevron-size: 1.75rem;

  display: flex;
  flex-shrink: 0;
  align-items: center;

  @media (width < 768px) {
    --chevron-size: 1.25rem;
  }
}

.chevron {
  display: block;
  width: var(--chevron-size);
  height: var(--chevron-size);
  border-top: calc(var(--chevron-size) / 4) solid var(--color-accent);
  border-right: calc(var(--chevron-size) / 4) solid var(--color-accent);
  rotate: 45deg;
}

.chevron:not(:first-child) {
  margin-left: calc(var(--chevron-size) / -6);
}
